@model IEnumerable<ProyectoDTO>

@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <h1>All my jobs</h1>
    <p>Here you will find all the projects I have worked on.</p>
</div>

<partial name="_ListadoProyectos" moddel="Model"/>